Repository yiisoft/yii-web, pull requests merged in 2019-11, with the labels that each got.

#140 AuthMiddleware test
  src/Auth/AuthMiddleware.php
  tests/Auth/AuthMiddlewareTest.php
Labels: status:code review, type:test

#159 [WIP] ErrorCatcher with default content type
  src/Middleware/ErrorCatcher.php
  tests/Middleware/ErrorCatcherTest.php
Labels: status:ready for merge

#160 HtmlRendererTest #158
  src/ErrorHandler/templates/callStackItem.php
  src/ErrorHandler/templates/exception.php
  tests/ErrorHandler/HtmlRendererTest.php
Labels: type:test

#168 Fix #93: Add non-verbose mode for ErrorHandler
  src/ErrorHandler/ErrorCatcher.php
  src/ErrorHandler/ErrorHandler.php
  src/ErrorHandler/HtmlRenderer.php
  src/ErrorHandler/JsonRenderer.php
  src/ErrorHandler/PlainTextRenderer.php
  src/ErrorHandler/ThrowableRendererInterface.php
  src/ErrorHandler/UserException.php
  src/ErrorHandler/XmlRenderer.php
  src/ErrorHandler/templates/error.php
  src/ErrorHandler/templates/exception.php
  tests/ErrorHandler/HtmlRendererTest.php
  tests/Middleware/ErrorCatcherTest.php
  tests/Middleware/Mock/MockThrowableRenderer.php
Labels: status:code review, type:enhancement

#181 Add return type declaration to tests
  tests/Middleware/ActionCallerTest.php
  tests/Middleware/CallbackTest.php
  tests/Middleware/ChainTest.php
  tests/Middleware/CsrfTest.php
  tests/Middleware/IpFilterTest.php
  tests/Middleware/RedirectTest.php
  tests/Middleware/TagRequestTest.php
  tests/Middleware/WebActionsCallerTest.php
  tests/MiddlewareDispatcherTest.php
  tests/NotFoundHandlerTest.php
  tests/Session/SessionMiddlewareTest.php
Labels: type:test

#182 Fix #115: Adjust HTTP response code for invalid CSRF token
  src/Middleware/Csrf.php
  tests/Middleware/CsrfTest.php
Labels: type:bug

#175 SapiEmitter and tests update
  src/Emitter/SapiEmitter.php
  tests/Emitter/HTTPFunctions.php
  tests/Emitter/HTTPFunctionsTest.php
  tests/Emitter/SapiEmitterTest.php
  tests/Emitter/httpFunctionMocks.php
Labels: status:ready for merge, type:test

#183 HeaderHelper: add getParameters(), fix getValuesAndParameters()
  src/Helper/HeaderHelper.php
  tests/Helper/HeaderHelperTest.php
Labels: status:code review
