Repository yiisoft/yii-web, pull requests merged in 2019-10, with the labels that each got.

#116 [WIP] Implement authentication middleware
  src/Auth/AuthInterface.php
  src/Auth/AuthMiddleware.php
  src/Auth/CompositeAuth.php
  src/Auth/HttpBasicAuth.php
  src/Auth/HttpBearerAuth.php
  src/Auth/HttpHeaderAuth.php
  src/Auth/QueryParamAuth.php
Labels: status:ready for merge

#117 Implement flash messages with separate namespace.
  src/Flash.php
  src/FlashInterface.php
  tests/Flash/FlashTest.php
  tests/Flash/MockArraySessionStorage.php
Labels: type:feature

#125 NetworkResolver #119
  src/Middleware/BasicNetworkResolver.php
  tests/Middleware/BasicNetworkResolverTest.php
  tests/Middleware/Mock/MockRequestHandler.php
Labels: status:code review

#130 ServerRequestFactory host parsing tests
  tests/ServerRequestFactoryTest.php
Labels: status:ready for merge, type:test

#132 make code easier to read (or understand)
  src/User/User.php
Labels: status:code review

#135 Session tests
  src/Session/Session.php
  tests/Session/SessionTest.php
Labels: status:code review, type:test

#138 Chain test
  tests/Middleware/ChainTest.php
Labels: type:test

#137 WebActionsCaller, ActionCaller and TagRequest tests
  tests/Middleware/ActionCallerTest.php
  tests/Middleware/TagRequestTest.php
  tests/Middleware/WebActionsCallerTest.php
Labels: status:code review, type:test

#139 Test for SapiEmitter
  tests/Emitter/SapiEmitterTest.php
Labels: status:under development, type:test
