Repository yiisoft/yii-web, pull requests merged in 2019-08, with the labels that each got.

#101 Implement user
  src/Session/Session.php
  src/User/AuthenticationKeyInterface.php
  src/User/AutoLoginMiddleware.php
  src/User/Event/AfterLoginEvent.php
  src/User/Event/AfterLogoutEvent.php
  src/User/Event/BeforeLoginEvent.php
  src/User/Event/BeforeLogout.php
  src/User/GuestIdentity.php
  src/User/IdentityInterface.php
  src/User/IdentityRepositoryInterface.php
  src/User/User.php
Labels: type:feature

#103 Implement CSRF middleware
  composer.json
  src/Middleware/Csrf.php
Labels: status:ready for merge

#109 Fix travis
  .travis.yml
  composer.json
  phpunit.xml.dist
  src/Cookie.php
  tests/CookieTest.php
  tests/bootstrap.php
Labels: type:test

#108 Middleware unit tests
  tests/Middleware/IpFilterTest.php
  tests/MiddlewareDispatcherTest.php
  tests/Session/SessionMiddlewareTest.php
Labels: type:test
